<div class="overlay" style="width: 100%; z-index: 2">
    <MudContainer MaxWidth="MaxWidth.False">
        <div class="nav-bar">
            <p id="navBarText">Blanche</p>
            <MudSpacer />
            <div class="nav-items">
                <div class="menu-button">
                    <MudToggleIconButton @bind-Toggled="@_isMenuOpen" Icon="@Icons.Material.Filled.Menu" Color="Color.Tertiary" ToggledIcon="@Icons.Material.Filled.Menu" ToggledColor="Color.Tertiary" @onclick="ToggleMenuOpen" />
                    <MudPopover Open="@_isMenuOpen" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                        <div class="d-flex flex-column">
                            <NavLink href=@Routes.Quotations @onclick="ToggleMenuOpen">
                                <p class="appBarNavItemDropDown">Home</p>
                            </NavLink>
                            <NavLink href=@Routes.ExtraMaterialAdmin @onclick="ToggleMenuOpen">
                                <p class="appBarNavItemDropDown">Verhuur</p>
                            </NavLink>
                            <NavLink href=@Routes.FormulasAdmin @onclick="ToggleMenuOpen">
                                <p class="appBarNavItemDropDown">Over ons</p>
                            </NavLink>
                        </div>
                    </MudPopover>
                </div>

                <div class="navivgation">
                    <NavLink href=@Routes.Home>
                        <p class="appBarNavItem">Home</p>
                    </NavLink>
                    <NavLink href=@Routes.Formula>
                        <p class="appBarNavItem">Verhuur</p>
                    </NavLink>
                    <NavLink href=@Routes.About>
                        <p class="appBarNavItem">Over ons</p>
                    </NavLink>
                </div>

                <AuthorizeView>
                    <MudToggleIconButton @bind-Toggled="@_isEditOpen" Icon="@Icons.Material.Filled.ModeEdit" Color="Color.Tertiary" ToggledIcon="@Icons.Material.Filled.ModeEdit" ToggledColor="Color.Tertiary" @onclick="ToggleEditOpen" />

                    <MudPopover Open="@_isEditOpen" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                        <div class="d-flex flex-column">
                            <NavLink href=@Routes.Quotations @onclick="ToggleEditOpen">
                                <p class="appBarNavItemDropDown">Offertes</p>
                            </NavLink>
                            <NavLink href=@Routes.ExtraMaterialAdmin @onclick="ToggleEditOpen">
                                <p class="appBarNavItemDropDown">Extra Items</p>
                            </NavLink>
                            <NavLink href=@Routes.FormulasAdmin @onclick="ToggleEditOpen">
                                <p class="appBarNavItemDropDown">Formules</p>
                            </NavLink>
                        </div>
                    </MudPopover>
                </AuthorizeView>



            </div>
        </div>
    </MudContainer>
</div>

@code {
    public bool _isEditOpen;
    public bool _isMenuOpen;

    public void ToggleEditOpen()
    {
        _isMenuOpen = false;
        _isEditOpen = !_isEditOpen;
    }

    public void ToggleMenuOpen()
    {
        _isEditOpen = false;
        _isMenuOpen = !_isMenuOpen;
    }
}