<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudAppBar Fixed="true" Elevation="25">
        <p id="navBarText">Blanche</p>
        <MudSpacer/>
        <div class="nav-items">
            <div class="menu-button">
                <MudToggleIconButton @bind-Toggled="@_isMenuOpen" Icon="@Icons.Material.Filled.Menu" Color="Color.Dark" ToggledIcon="@Icons.Material.Filled.Menu" ToggledColor="Color.Dark" @onclick="ToggleMenuOpen"/>
                <MudPopover Open="@_isMenuOpen" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                    <div class="d-flex flex-column">
                        <AuthorizeView>
                            <NavLink href="@Routes.Quotations "@onclick="ToggleMenuOpen">
                                <p class="appBarNavItemDropDown">Offertes</p>
                            </NavLink>
                            <NavLink href="@Routes.ExtraMaterialAdmin "@onclick="ToggleMenuOpen">
                                <p class="appBarNavItemDropDown">Extra Items</p>
                            </NavLink>
                            <NavLink href="@Routes.FormulasAdmin "@onclick="ToggleMenuOpen">
                                <p class="appBarNavItemDropDown">Formules</p>
                            </NavLink>
                            <NavLink href="@Routes.EmailOverview "@onclick="ToggleMenuOpen">
                                <p class="appBarNavItemDropDown">Emails</p>
                            </NavLink>
                            <MudDivider/>
                        </AuthorizeView>
                        <NavLink href="@Routes.Home "@onclick="ToggleMenuOpen">
                            <p class="appBarNavItemDropDown">Home</p>
                        </NavLink>
                        <NavLink href="@Routes.Formula "@onclick="ToggleMenuOpen">
                            <p class="appBarNavItemDropDown">Verhuur</p>
                        </NavLink>
                        <NavLink href="@Routes.About "@onclick="ToggleMenuOpen">
                            <p class="appBarNavItemDropDown">Over ons</p>
                        </NavLink>
                    </div>
                </MudPopover>
            </div>

            <div class="navivgation">
                <AuthorizeView>
                    <NavLink href="@Routes.Quotations">
                        <p class="appBarNavItem">Offertes</p>
                    </NavLink>
                    <NavLink href="@Routes.ExtraMaterialAdmin">
                        <p class="appBarNavItem">Extra Items</p>
                    </NavLink>
                    <NavLink href="@Routes.FormulasAdmin">
                        <p class="appBarNavItem">Formules</p>
                    </NavLink>
                    <NavLink href="@Routes.EmailOverview">
                        <p class="appBarNavItem">Emails</p>
                    </NavLink>
                    <div style="padding-right: 40px"/>
                </AuthorizeView>
                <NavLink href="@Routes.Home">
                    <p class="appBarNavItem">Home</p>
                </NavLink>
                <NavLink href="@Routes.Formula">
                    <p class="appBarNavItem">Verhuur</p>
                </NavLink>
                <NavLink href="@Routes.About">
                    <p class="appBarNavItem">Over ons</p>
                </NavLink>
            </div>
        </div>
    </MudAppBar>
</MudContainer>


@code {
    public bool _isMenuOpen;

    public void ToggleMenuOpen()
    {
        _isMenuOpen = !_isMenuOpen;
    }

}