<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <Loader IsLoading=true/>
                </Authorizing>
                <NotAuthorized>
                    <h1>Sorry</h1>
                    <p>Je hebt geen toestemming om deze pagina te bekijken. Je moet inloggen.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Niet gevonden</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudContainer>
                    <div>
                        <MudText Typo="Typo.h3" GutterBottom="true">404</MudText>
                        <MudText Typo="Typo.h5">Oeps! De pagina die je zoekt bestaat niet.</MudText>
                        <MudButton Href=@Routes.Home Color="Color.Primary" Variant="Variant.Filled">Ga naar Home</MudButton>
                    </div>
                </MudContainer>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
