<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <Loader IsAuthenticating="true"/>
                </Authorizing>
                <NotAuthorized>
                    <div style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 70vh;">
                        <MudText Typo="Typo.h3" GutterBottom="true">Sorry</MudText>
                        <MudText Typo="Typo.h5">U hebt geen toestemming om deze pagina te bekijken.</MudText>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Niet gevonden</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudContainer>
                    <div style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 70vh;">
                        <MudText Typo="Typo.h3" GutterBottom="true">404</MudText>
                        <MudText Typo="Typo.h5">Oeps! De pagina die je zoekt bestaat niet.</MudText>
                        <MudButton Href=@Routes.Home Color="Color.Primary" Variant="Variant.Filled">Ga naar Home</MudButton>
                    </div>
                </MudContainer>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>